@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script:regular);

$mainFont: 'Roboto';
$secondFont: 'Clicker Script';
$maxWidthContainer: 1362px;

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	font-family: $mainFont;
	align-items: center;
	flex-direction: column;
	background: url('/virtual-piano/assets/images/bg.png') no-repeat;
	background-size: cover;
}

.piano {
	width: 100%;
	max-width: $maxWidthContainer;
	margin: auto;
	background: #221e1e;
	padding-bottom: 55px;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 15px;
		margin-bottom: 50px;
		border-bottom: 1px solid #d7e4b2;
		user-select: none;
	}

	&__title {
		margin: 0 0 -20px -120px;
		margin-bottom: -20px;
		font-family: $secondFont;
		font-style: normal;
		font-weight: normal;
		font-size: 72px;
		line-height: 95px;
		color: #fffffc;
	}

	&__fulscreen {
		width: 55px;
		height: 55px;
		padding: 0;
		border: none;
		outline: none;
		background: url(/virtual-piano/assets/images/fullscreen-open.svg) no-repeat;

		&:hover {
			cursor: pointer;
		}
		&:active {
			transform: scale(0.9);
		}

		&.opened {
			background: url(/virtual-piano/assets/images/fullscreen-exit.svg);
			background-size: cover;
		}
	}

	&__keyboard {
		display: flex;
		justify-content: center;
	}
}

.switch {
	position: relative;
	border: solid 2px #6dca7c;
	border-radius: 50px;
	color: #ffffff;

	&:hover {
		cursor: pointer;
	}

	&__notes {
		display: none;
	}

	&__letters {
		display: none;

		&:checked ~ .switch__current-choice {
			transform: translateX(100%);
			border-radius: 0 50px 50px 0;
		}
	}

	&__label {
		display: inline-block;
		position: relative;
		padding: 10px 15px;
		font-size: 18px;
		z-index: 1;
		user-select: none;
		&:hover {
			cursor: pointer;
		}
	}

	&__current-choice {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #6dca7c;
		width: 50%;
		height: 100%;
		border-radius: 50px 0 0 50px;

		transition: all 0.25s ease-out;
	}
}

.keyboard {
	&__container {
		display: flex;
		justify-content: center;
	}
	&__key {
		border-radius: 0px 0px 15px 15px;
		user-select: none;
		&:hover {
			cursor: pointer;
		}

		&_black {
			position: absolute;
			display: flex;
			justify-content: center;
			left: 52px;
			top: 0;
			width: 51px;
			height: 216px;
			z-index: 1;
			background: #000000;
			border: 1px solid #000000;
			box-shadow: 0px 8px 0px #000000, -10px 4px 4px rgba(0, 0, 0, 0.25),
				inset -2px 0px 5px rgba(225, 225, 225, 0.66), inset 1px -2px 5px rgba(225, 225, 225, 0.66);
			border-radius: 0px 0px 15px 15px;

			transition: box-shadow 0.15s ease, height 0.15s ease;

			&:hover .keyboard__key-name_black {
				color: #ffffff;
			}

			&.active {
				box-shadow: none;
				height: 225px;

				& .keyboard__key-name_black {
					transform: scale(1.1);
				}
			}
		}

		&_white {
			position: relative;
			width: 73px;
			height: 340px;
			margin-right: 10px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			box-shadow: inset 0px -15px 0px rgba(171, 165, 165, 0.66);
			background: #ebe7e7;
			transition: box-shadow 0.15s ease;
			transition: background-color 0.3s ease;
			&:last-child {
				margin-right: 0;
			}

			&:hover .keyboard__key-name_white {
				color: #ffffff;
			}

			&.active {
				box-shadow: none;

				& .keyboard__key-name_white {
					transform: scale(1.1);
				}
			}
		}
	}

	&__key-name {
		position: absolute;
		pointer-events: none;
		font-size: 24px;
		color: #f5d2d2;
		transition: all 0.3s ease;
		&_black {
			top: -30px;
		}

		&_white {
			bottom: -30px;
		}
	}
}

.footer {
	width: 100%;
	display: flex;
	justify-content: center;

	&__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 50px 10px 50px;
	}
}
.github {
	&__img {
		width: 100px;
		height: 80px;
	}
}
.logo {
	&__img {
		width: 260px;
		height: 80px;
	}
}
